<div class="row">

  <table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Nom</th>
        <th scope="col">Description</th>
        <th scope="col">Quantité</th>
        <th scope="col">Propriétaire</th>
        <th aligne=center scope="col"> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">barnum</th>
        <td>3*3</td>
        <td>10</td>
        <td aligne="center">BDE</td>
        <td align="center">
          <a href="https://www.ecosia.org/images?q=canapé" class="btn btn-outline-info" role="button"  aria-pressed="true">Réserver</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
