<div class="container">
  <h2 align="center">Mon matériel</h2>

  <div class="row">

    <div class="col-md-2" align="center">
        <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/waiting_booking/1">En attente de réservation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/validated_booking/1">Réservations acceptées</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 mb-1 bg-danger text-dark active" ng-href="#!/refused_booking/1">Réservations refusées</a>
        </li>
      </ul>
    </div>

    <div class="col-md-10" align="center">
    <table class="table">
      <thead class="thead-dark">
      <tr>
          <th scope="col">Nom</th>
          <th scope="col">Description</th>
          <th scope="col">Quantité demandée</th>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
          <th scope="col">Motif de l'emprunt</th>
          <th scope="col">Assos empreinteuse</th>
          <th scope="col">Motif du refus</th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">canapé</th>
          <td align="center">canapé de la MDE</td>
          <td align="center">10</td>
          <td align="center">02/05/18</td>
          <td align="center">12/05/18</td>
          <td align="center">Village asso</td>
          <td align="center">IF</td>
          <td align="center">Pas adapté à l'utilisation</td>
          <td align="center">
            <a href="https://www.ecosia.org/images?q=canapé" class="btn btn-outline-info btn-sm" role="button"  aria-pressed="true">Changer d'avis</a>
          </td>
        </tr>
        <tr>
          <th scope="row">canapé</th>
          <td align="center">canapé de la MDE</td>
          <td align="center">10</td>
          <td align="center">02/05/18</td>
          <td align="center">12/05/18</td>
          <td align="center">Village asso</td>
          <td align="center">IF</td>
          <td align="center">Pas adapté à l'utilisation</td>
          <td align="center">
            <a href="https://www.ecosia.org/images?q=canapé" class="btn btn-outline-info btn-sm" role="button"  aria-pressed="true">Changer d'avis</a>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
